// HERO
.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  width: 480px;
  height: 400px;
  // -----DESKTOP
  // padding-top: 200px;
  // padding-bottom: 200px;

  background-color: $hero-bgcolor;
  text-align: center;

  // max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  color: #ffffff;
  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

// ------DEESKTOP
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // text-align: center;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;

  margin: 0 auto 30px;
}
.hero__order {
  color: $primary-btn-color;
  background-color: $hover-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 0;
  margin-bottom: 0;
}
.hero__order--click {
  transform: $btn-transform;
  transition: $btn-transition;
    &:active {
      transform: $btn-active;
    }
}

// .hero__container {
//   width: 696px;
// }

// DETAILS-SECTION

.details {
padding-top: 60px;
padding-bottom: 60px;

  // -----DESKTOP
  // padding-top: 94px;
  // padding-bottom: 94px;
}
// .details-list__item {

//   // ---DESKTOP
//   // width: 270px;
//   // margin-right: 30px;

//   //   &:last-child {
//   //     margin-right: 0;
//   //   }
// }
.details-list__item {
  width: 450px;
  margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
}
.icon-details {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 450px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

// ----DESKTOP
  // width: 270px;
  // height: 120px;

}
.icon-details__icon {
  width: 70px;
height: 70px;
}
.details-list__title {font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
text-align: center;

margin-bottom: 10px;
margin-top: 0;
}
.details-list__text {
  color: $secondary-text-color;
font-size: 14px;
line-height: 1.7;
margin-top: 0;
margin-bottom: 0;
letter-spacing: 0.03em;
}

// SKILLS-SECTION

.skills {
  display: none;

  padding-bottom: 94px;
  background-color: $primary-bgcolor;
    &__input {position: relative;}
}
.skills__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.skills__images {
  margin-top: 0;
  margin-bottom: 0;
  width: 370px;
  margin-right: 30px;
}
.skills__images--nospace {
  margin-right: 0;
}
.skills__description {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;

  bottom: 0;
}
.skills__text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

//  TEAM-SECTION

.team {
  background-color: $secondary-bgcolor;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 480px;

  // ------Laptop and Dessktop
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.team__title {
  @extend %mobile-section__title;
  margin-bottom: 30px;

  // ------Desktop
  // @extend .skills__title
}
.team-list__item {
  width: 450px;
  margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }

// ------Desktop
  // width: 270px;
  // margin-right: 30px;

  //   &:last-of-type {
  //     margin-right: 0;
  //   }
}
.team__card {
  padding-bottom: 24px;

  // ----Desktop
  background-color: $primary-bgcolor;
  padding-top: 30px;
  // padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.team__profession {
  color: $contacts-color;
  font-size: 16px;
  line-height: 1.2;
  
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
.team__networks {
  display: flex;

margin-top: 16px;
margin-bottom: 0;
width: 206px;
height: 44px;
padding-left: 0;
margin-left: auto;
margin-right: auto;
}
.team__networks--space {
  margin-right: 10px;
}
.team__networks--nospace {
  margin-right: 0;
}
.network {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
        background-color: $hover-color;
        fill: #ffffff;
      }
}
.network__icon {
  width: 20px;
  height: 20px;
}

// CLIENTS-SECTION

.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  width: 480px;
}
.clients__title {
  @extend %mobile-section__title;
  margin-top: 0;
  margin-bottom: 30px;


  // -----Desktop
  // margin-bottom: 50px;

  // font-weight: 700;
  // font-size: 36px;
  // line-height: 42px;
  // letter-spacing: 0.03em;
}
// .clients-container {
//   margin: -15px;
// }
.company {
display: flex;
flex-wrap: wrap;
margin: -15px;
  // display: flex;

  // margin-right: auto;
  // margin-left: auto;
  margin-top: 0;
}
.company__name {
  margin: 15px;
  // ___Desktop
  // margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.company__link {
width: calc((480px - 60px) / 2);


  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 52px;

// -----Desktop
  fill: #afb1b8;
  // width: 170px;
  height: 92px;
  // padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {fill: $hover-color;
      border: 1px solid #2196f3;
    }
}
.company__characteristics {
  width: 106px;
  height: 60px;
} 