.footer {
    background-color: $footer-bgcolor;
    padding-top: 60px;
    padding-bottom: 60px;
}
// -----Laptop and Desktop
.footer__container {
    // display: flex;
    text-align: center;
}
.footer__reach {
    margin-bottom: 60px;
}
.footer__address {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    margin-top: 0;
    margin-bottom: 8px;

    // -----Desktop
    // margin-bottom: 9px;
        .footer__map {color: #ffffff;}
}
.footer-list {
    padding: 0;
    margin: 0;
}
.footer-list__item:first-child {
    margin-top: 0;
    margin-bottom: 8px;

    // -----Desktop
    // margin-bottom: 9px;
}
.footer-list__connect {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;

    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            color: $hover-color;
        }
}
.join {
    margin-bottom: 60px;
    // ---Desktop
    // margin-left: 70px;
    // margin-top: 12px;
}
.join__title {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.join__networks {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}
.join__networks--space {
    @extend .team__networks--space;
}
.join__networks--nospace {
    @extend .team__networks--nospace;
}
.network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $hover-color;
    }
}
.footer-form {
    
    // -----Desktop
    // margin-left: 93px;
    // margin-top: 12px;
}
.footer-form__title {
    display: flex;
    justify-content: center;
    @extend .join__title;
}
.footer-form__input {
    // margin-right: 12px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    // ----Desktop
    width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: $footer-bgcolor;

    padding: 15px 0 15px 16px;
    color: #ffffff;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: 0;
            border: 1px solid #2196f3;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: 0 0 0px 1000px inherit inset;
            -webkit-text-fill-color: #ffffff;
        
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
        }
}
.footer-form__submit {
    color: $primary-btn-color;
    background-color: $hover-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    min-width: 200px;
    margin-top: 0;
    margin-bottom: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form__submit--click {
    transform: $btn-transform;
    transition: $btn-transition;

    &:active {
        transform: $btn-active;
    }
}
.footer-form__submit::after {
    background-repeat: no-repeat;
    margin-left: 10px;
    content: "";
    background-image: url(../images/icon_send.svg);

    width: 24px;
    height: 24px;
}