.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 94px 15px;
    z-index: 999;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &.is-hidden {
            opacity: 0;
            pointer-events: none;
                & .modal {
                    transform: translate(-50%, -50%) scale(1.1);
                }
        }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    overflow-y: scroll;
    
    max-width: 450px;
    height: 609px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    background-color: #ffffff;
    fill: #000000;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $primary-bgcolor;
            fill: $hover-color;
        }
}
.modal__close-button--click {
    transform: scale(1);
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:active {
        background-color: orange;
        fill: white;
        transform: scale(0.95);
    }
}
.modal__close-icon {
    width: 11px;
    height: 11px;
}
.modal-window {
    padding: 1px 40px 40px 40px;
}
.modal-window__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 12px;
    max-width: 370px;

    font-weight: 700;
    line-height: 1.5;
    // -----Tablet and Desktop
    font-size: 20px;
    // line-height: 1.15;
    text-align: center;
}
.modal-window__form {
    display: flex;
    flex-direction: column;
    max-width: 370px;
}
.modal-window__form-name {
    display: inline-flex;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;

    color: #757575;
}
.modal-window__form-field {
    position: relative;
    margin-bottom: 10px;

        &:focus-within .modal-window__icon {
            fill: $hover-color;
        }
}
.modal-window__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__input-field {
    display: block;
    width: 370px;

    // ----Desktop
    // width: 448px;
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: 0;
            border: 1px solid #2196f3;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: 0 0 0px 1000px inherit inset;
            -webkit-text-fill-color: #000000;
        
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
        }
}
.icon-name {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    width: 12px;
    height: 12px;
}
.icon-phone {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    width: 13px;
    height: 13px;
}
.icon-mail {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);

    width: 15px;
    height: 12px;
}
.modal-window__form-comment {
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
    
    margin-bottom: 20px;
    max-width: 370px;
    // -----DEsktop
    // width: 448px;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    resize: none;

    &:focus {
        outline: 0;
        border: 1px solid #2196f3;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;

        margin-right: 20px;
        
        color: rgba(117, 117, 117, 0.5);
    }
}
.modal-window__contract {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.modal-window__checkbox {
    appearance: none;
}
.modal-window__checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    background-image: url(../images/icon_check.svg);
    background-size: contain;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .modal-window__checkbox:checked + & {
            transform: scale(1);
            background-color: #2196f3;
            background-origin: border-box;
            border-color: transparent;
        }
}
.modal-window__contract-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    min-width: 346px;


    // ----Desktop
    // font-size: 14px;
    // line-height: 1.71;

    color: #757575;
}
.modal-window__contract-link {
    color: #2196f3;
    border-bottom: 1px solid #2196f3;
}
.modal-window__submit {
    color: $primary-btn-color;
    background-color: $hover-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;

    padding: 10px 55px 10px 56px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background: #188ce8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}
.modal-window__submit--click {
    transform: $btn-transform;
    transition: $btn-transition;

    &:active {
        transform: $btn-active;
    }
}