.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    // -----Desktop
    // padding-top: 100px;
    // padding-bottom: 94px;
}
// .portfolio-buttons-list__center {
//     display: flex;
//     justify-content: center;
// }
.portfolio-buttons-list__portfolio {
display: flex;
flex-wrap: wrap;

    margin-bottom: 50px;
    margin-top: 0;
}
.portfolio-buttons-list__item {
    margin-right: 8px;
    margin-top: 0;
margin-bottom: 15px;

// ---Desktop
    // margin-bottom: 0;
}
.portfolio-buttons-list__item--nospace {
    margin-right: 0;
}
.portfolio-buttons-list__content {
    background-color: $portfolio-btn-bgcolor;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;

    padding: 6px 22px;
    min-width: 73px;

    transform: $btn-transform;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        $btn-transition;

        &:hover, &:focus {
            background-color: $hover-color;
            color: $primary-btn-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
        &:active {
            transform: $btn-active;
        }
}

// ---Laptop and Desktop
// .portfolio-cards {
//     display: flex;
//     flex-wrap: wrap;
// }
.portfolio-cards__element {
    // --Desktop
    // width: calc((100% - 60px) / 3);
    margin-bottom: 30px;

    // ---Laptop and Desktop
    // margin-right: 30px;

    box-sizing: border-box;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}
.portfolio-cards__image {
    position: relative;
    overflow: hidden;
}
.portfolio-cards__image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 295px));
    width: 100%;


    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms;

        .portfolio-cards__element:hover &,
        .portfolio-cards__element:focus & {
            transform: translate(-50%, -50%);
        }
}
.portfolio-cards__flowing-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    width: 322px;
    height: 168px;
    margin: 0;
    color: #ffffff;

    transition: transform 250ms;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 295px));

        .portfolio-cards__element:hover &,
        .portfolio-cards__element:focus & {
            transform: translate(-50%, -50%);
        }
}
.portfolio-block {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    box-sizing: border-box;

    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.portfolio-block__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    text-align: start;

    margin-top: 0;
    margin-bottom: 0;
    width: 322px;
}
.portfolio-block__description {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;

    text-align: start;

    margin-top: 0;
    margin-bottom: 0;
    width: 322px;
}